@viewport {
  width: device-width;
  zoom: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App {
  text-align: center;
  background-color: rgb(38, 68, 139);
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}
.logo {
  height: 14vh;
}
Header {
  background-color: rgb(5, 5, 49);
}
nav {
  display: flex;
  justify-content: space-between;
}
.logoLink {
  display: flex;
  justify-content: flex-start;
}
.navLinks:hover {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.navLinks {
  text-decoration: none;
  font-size: 23px;
  padding-left: 17px;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 194, 203);
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerImgz {
  height: 74px;
  width: 74px;
  border-radius: 50%;
}
.footerImgz:hover {
  height: 13vh;
}
.footerImg {
  height: 11vh;
  margin: 9px;
}
.footerImg:hover {
  height: 13vh;
}
.portfolioImg {
  /* border-radius: 50%; */
  height: 333px;
  width: 363px;
}
.portfolioImg:hover {
  cursor: pointer;
  filter: grayscale();
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: rgb(7, 7, 100);
}
.home {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.layout {
  text-align: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin: 50px;
  background-color: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.website {
  color: rgb(0, 129, 203);
  text-decoration: none;
  font-size: 21px;
  padding-left: 17px;
  font-family: 'Poppins', sans-serif;
}
.website:hover {
  color: blue;
}
.email {
  color: rgb(7, 7, 100);
}
.email:hover {
  color: blue;
}
.flippy-container {
  margin: 22px;
}
.click {
  font-size: 22px;
  color: rgb(7, 7, 100);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.flippy-card:hover {
  color: none;
}
.profile {
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 22%;
}
.prof {
  display: flex;
}
.info {
  text-align: center;
  margin-left: 50px;
  margin-top: 111px;
  color: rgb(7, 7, 100);
  width: 44vw;
  font-family: 'Poppins', sans-serif;
}
p,
h2 {
  color: rgb(7, 7, 100);
}
@media only screen and (max-width: 450px) {
  .prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile {
    height: 232px;
    width: 202px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .info {
    min-width: 90%;
    margin: 0;
    text-align: center;
    font-size: 11px;
  }
  .logo {
    display: none;
  }
  .nav {
    width: 99vw;
  }
  h1 {
    margin-top: 50px;
  }
  h2 {
    margin-left: 20px;
  }
  body {
    margin: 0;
  }
}
